$mobile: 768px;
$tables: 1024px;


.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    color: black;
    @media screen and (max-width: $mobile) {
        padding: 50px 10px 50px 10px;
        width: 70%;
    }
    
    

    h2{
        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        
        transition: all 0.4s;
        @media screen and (max-width: $tables) {
            font-size: 40px;
      
        }
        @media screen and (max-width: $mobile) {
            font-size: 20px;
      
        }
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }
}