$mobile: 768px;
$tables: 1024px;


.description{
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $tables) {
        padding-left: 50px;
        padding-right: 50px;

      }
    
    @media screen and (max-width: $mobile) {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 35%;
        padding-bottom: 20%;
    }
      
    

    .body{
        max-width: 1400px;
        display: flex;
        gap: 50px;
        position: relative;
        @media screen and (max-width: $mobile) {
            width: 100%;
            flex-direction: column;
          }
        p{
            margin: 0px;
            &:nth-of-type(1){
                text-align: start;
                color: #1c1d20ac;
                width: 100%;
                font-size: 36px;
                font-weight: 600;
               
                @media screen and (max-width: $tables) {
                    font-size: 30px;
                }
                  @media screen and (max-width: $mobile) {
                    font-size: 25px;
                    width: 100%;
                }
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                color:   
                #1c1d20;
                margin-top: 10px;
                padding-left: 50px;
                width: 200px;
                font-size: 16px;
                gap: 8px;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
                @media screen and (max-width: $mobile) {
                    padding-left: 0px;
                }
            }
            
        }
        
        .button{
            top: 150%;
            left: calc(100% - 260px); 
            width: 200px;
            height: 200px;
            background-color: #1c1d20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (max-width: $tables) {
                width: 150px;
                height: 150px;
                top: 75%;
                left: calc(100% - 210px); 
            }
            @media screen and (max-width: $mobile) {
                left: calc(100% - 170px); 
                width: 150px;
                height: 150px;
                top: 85%;
              }
            p{
                color: #ffffff;
                text-align: center;
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
                
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}